<!DOCTYPE html>
<html>

    <head>
        <title>Log Egram</title>
        <link rel="stylesheet" href="/assets/style.css"> 
    </head>

    <body>
        <div id="header">
            <button id="log-out" onclick="window.location.href='/api/auth/logout';">Sign Out</button>
            
            <div class="searchable-dropdown" id="group-dropdown">
                <input type="text" placeholder="Select Group..." class="dropdown-input" id="group-input">
                <div class="dropdown-options" id="group-options"></div>
                <input type="hidden" id="group-select-value">
            </div>

            <div class="searchable-dropdown" id="user-dropdown">
                <input type="text" placeholder="Select User..." class="dropdown-input" id="user-input">
                <div class="dropdown-options" id="user-options"></div>
                <input type="hidden" id="user-select-value">
            </div>

            <input type="date" id="start-date" placeholder="Start Date">
            <input type="date" id="end-date" placeholder="End Date">

            <button id="search-btn">Search</button>
        </div>

        <div id="sub-header">
            <label for="show-stickers">Show Stickers</label>
            <input type="checkbox" id="show-stickers">

            <label for="show-attachments">Show Attachments</label>
            <input type="checkbox" id="show-attachments">
        </div>

        <div id="content">
            <table id="messages-table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Group</th>
                        <th>User</th>
                        <th>Message</th>
                        <th>Edits</th>
                        <th>Files</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="6">To start an audit hit the search button.</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div id="footer">
            <button id="fist-page" style="display:none;">First Page</button>
            <button id="previous-page" style="display:none;">Previous Page</button>

            <span id="page-number"></span>

            <label for="page-dropdown">Results</label>

            <select id="page-dropdown">
                <option value="10">10</option>
                <option value="25">20</option>
                <option value="50">30</option>
                <option value="100">40</option>
                <option value="250">50</option>
            </select>

            <button id="next-page" style="display:none;">Next Page</button>
            <button id="last-page" style="display:none;">Last Page</button>
        </div>

        <script src="/assets/script.js"></script>
    </body>
    
</html>